.navbar img{
  width: 70px;
  padding-left: 50px;

}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 600;
  border-bottom: 1px solid rgb(196,21,21);
  margin-bottom: 50px;
}
ul{
  display: flex;
  list-style: none;
  transform: scale(0);
  animation: zoom-in 1.5s ease forwards;
}
ul li {
  margin-right: 50px;
}
.btn1{
  margin-right: 50px;
  background-color: rgb(196,21,21);
  border: 0;
  padding: 10px 25px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  transition: 0.3s ease;
}
.btn1:hover{
  background-color: transparent;
  border: 1px solid rgb(196,21,21);
  color: rgb(196,21,21);
}
.hero{
  display: flex;
  align-items: center;
}
.left{
  margin-left: 100px;
  transform: translateX(-500px);
  animation: left-right 1.5s ease forwards;

}
@keyframes left-right {
  100%{
    transform: translateX(0px);
  }
  
}

.title{
  font-size: 60px;
  font-weight: 800;
  line-height: 1.2;
}
.left p{
  font-size: 20px;
  font-weight: 500;

}
.btns{
  margin-top: 30px;
}
.btn2{
  margin-right: 50px;
  background-color: transparent;
  border: 1px solid rgb(196,21,21);
  padding: 10px 25px;
  cursor: pointer;
  color:rgb(196,21,21);
  font-weight: 600;
  transition: 0.3s ease;
}
.btn2:hover{
  background-color: rgb(196,21,21);
  color: white;
}
.social{
  margin-top: 20px;
}
.social-icons{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.social-1{
  font-size: 19px;
}
.social-icons img{
  width: 40px;
}
.right img{
  width: 700px;
  transform: scale(0);
  animation: zoom-in 1.5s ease forwards;
}
@keyframes zoom-in {
  100%{
    transform: scale(1);
  }
  
}